<block-ui>

</block-ui>
<section class="tenant_reg_sec">
    <div class="tenant_reg_gradient">
        <div class="p-5">
            <img src="./../../../assets/images/ncd_finalized_logo.png" width="144px" height="50px" style="margin:0.28rem;padding-top:2px ;padding-bottom:2px ;" />
        </div>
        <div class="">
            <div class="activate_text">
                <h3 class="animated slideInDown" *ngIf="tenantActivated">
                    Your Account Activated Successfully.Please Set Your Password Now!
                </h3>
                <h3 class="animated slideInDown" *ngIf="allReadyActivated">
                    Your Account Already Activated. Please Set Your Password Now!
                </h3>
            </div>

            <div class="form_tenant_reg">
                <h3 class=" text-center signin_black">Set Password</h3>
                <hr class="signin_brdr">
                <div class="animated fadeInLeft">
                    <form class="mt-4 mb-5 set_pas_frm" #setPass="ngForm">
                        <!-- <div class="form-group">
                                <label for="currentpassword">Current Password</label>
                                <input type="password" class="form-control" name="currentpassword" id="currentpassword" #currentpassword="ngModel" ngModel
                                    placeholder="Current Password">
                            </div> -->
                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            <input type="password" class="form-control" name="newpassword" #newpassword="ngModel" ngModel placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <label for="newpassword">Confirm Password</label>
                            <input type="password" class="form-control" name="confirmpassword" #confirmpassword="ngModel" ngModel placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary form-control" (click)="setPassword(setPass)">Confirm</button>
                        </div>
                    </form>
                </div>

                <!-- <h4 class="animated slideInUp">India's one and only leading corporate online test platform.</h4> -->
            </div>

        </div>
    </div>
</section>