<section class="tenant_reg_sec">
    <div class="tenant_reg_gradient">
        <div class="p-5">
            <h2 class="coc_title">No Cheating Dude</h2>
        </div>
        <div class="form_tenant_reg">
            <h4 class="success_txt animated fadeInLeft">You are successfully registered.</h4>
            <h4 class="mt-4 pb-5 mb-5 animated fadeInLeft">Activation link has been sent to your registered email I'd. Activate your account to login .</h4>
            <div class="mt-5 animated fadeInUp">
                <img src="./../../../assets/images/register2.png" alt="register-img">
            </div>
        </div>
    </div>
</section>