.down_icon{
    background-color: #59cd72;
    padding: 12px 11px 0px 14px;
    border-radius: 19px;
}
.down_icon i{
  color:#ffffff;
}
.down_icon a span{
    color: #ffffff;
    font-weight: bold;
    padding: 0px 10px;
    position: relative;
    top: -5px;
}
.down_icon a{
    text-decoration: none;
}

.flex_bck{
    background-color: #ffffff;
    padding: 0px 0px 20px 15px;
    border-radius: 20px;
}