<div class="row">
    <div class="col-sm-12 mt-4">
        <h4 class="p-0">
            <p>Downloads</p>
        </h4>
    </div>
    <div class="col-sm-12">
        <hr class="m-0">
    </div>
    <div class="row mt-4 col-sm-12">
        <div class="col-sm-6">
            <div class="d-flex boxShadow flex_bck">
                <div class="pt-4 pl-2 pr-2">
                    <span class="pointer boxShadow down_icon" title="Download Bulk Upload Template" 
                        (click)="downloadUploadTemp()">
                        <a [href]="templateLink" download>
                            <i class="material-icons">
                                cloud_download
                            </i>
                            <span>Download</span>
                        </a>
                        
                    </span>
                </div>
                <div class="pt-4 flex-fill text-center">
                    <h6>Questions Bulk Upload Template</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex boxShadow flex_bck">
                <div class="pt-4 pl-2 pr-2">
                    <span class="pointer boxShadow down_icon"  title="Download Add Participate Template">
                        <a [href]="templateLinkPar" download>
                            <i class="material-icons">
                                cloud_download
                            </i>
                            <span>Download</span>
                        </a>
                        
                    </span>
                </div>
                <div class="pt-4 flex-fill text-center">
                    <h6>Participants Bulk Upload Template</h6>
                </div>
            </div>
        </div>
    </div>
</div>