<div class="eval_test_sec pt-4 pb-4 pl-4 pr-4">
    <div class="row">
        <div class="col-sm-12 test_eval_txt">
            <h4>
                <i class="material-icons arrow_back pointer" (click)="gotoTests()">
                    arrow_back
                </i>
                <b>Tests To Evaluate</b> / Candidates
            </h4>
            <hr class="m-0">
        </div>
    </div>
    <!-- <div class="row pt-4 pb-4">
        <button class="btn btn-primary ml-auto">
            + Create New User
        </button>
    </div> -->
    <div class="row pt-4 pb-4" *ngIf="testCandidates && !testCandidates['listOfTestCandidates'].length">
        <div class="text-center errorTxt white_bg col-sm-12 p-5 boxShadow">
            <h4>{{testCandidates['statusMessage']}}</h4>
        </div>
    </div>
    <div class="row pt-4 pb-4" *ngIf="testCandidates && testCandidates['listOfTestCandidates']">
        <div class="col-sm-3" *ngFor="let candidate of testCandidates['listOfTestCandidates']" (click)="getQuestions(candidate.testInstanceId)">
            <div class="boxShadow user_block pt-2 pb-2 mb-5">
                <div class="d-flex text-center">
                    <div class="dflex_1 flex-fill">
                        <img src="./../../../assets/images/user.png" alt="user">
                    </div>
                    <div class="dflex_2 flex-fill text-left">
                        <p class="m-0">
                            <b>{{candidate.candidateName}}</b>
                        </p>
                        <p class="f-s-14 candid_mail pointer" [title]="candidate.candidateMail">{{candidate.candidateMail}}</p>
                    </div>
                </div>
                <hr class="m-0 red_hr">
                <p class="m-0 pt-3 pb-3 pl-3">Questions for evaluation:
                    <b>{{candidate.noOfEvaluationQuestions}}</b>
                </p>
            </div>
        </div>
    </div>
</div>