<div class="settings_sec pt-4 pb-4 pr-5">
    <div class="">
        <h4>My Profile</h4>
        <hr>
    </div>

    <div class="card" *ngIf="userData.length">
        <form class="row profile_form" #myForm="ngForm" (ngSubmit)="editUser(myForm.value)">
            <div class="col-md-8" style="padding: 2rem 6rem;">
                <div class="form-row">
                    <input type="hidden" class="form-control" hide id="userId" name="userId" ngModel={{this.userData[0].userId}} #userId="ngModel"
                        placeholder="">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <p *ngIf="!isEdit">{{this.userData[0].userFirstName}}</p>
                        <input *ngIf="isEdit" type="text" class="form-control" id="firstName" name="userFirstName" ngModel={{this.userData[0].userFirstName}}
                            placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <p *ngIf="!isEdit">{{this.userData[0].userLastName}}</p>
                        <input *ngIf="isEdit" type="text" class="form-control" id="lastName" name="userLastName" ngModel={{this.userData[0].userLastName}}
                            placeholder="">
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="designation">Designation</label>
                        <p *ngIf="!isEdit">{{this.userData[0].designation}}</p>
                        <input *ngIf="isEdit" type="text" class="form-control" id="designation" name="designation" ngModel={{this.userData[0].designation}}
                            placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="department">Department</label>
                        <p *ngIf="!isEdit">{{this.userData[0].department}}</p>
                        <input *ngIf="isEdit" type="text" class="form-control" id="department" name="department" ngModel={{this.userData[0].department}}
                            placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <p *ngIf="!isEdit">{{this.userData[0].userEmail}}</p>
                    <input *ngIf="isEdit" type="email" class="form-control" id="email" name="userEmail" ngModel={{this.userData[0].userEmail}}
                        placeholder="">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <p *ngIf="!isEdit">{{this.userData[0].phoneNumber}}</p>
                    <input *ngIf="isEdit" type="text" class="form-control" id="phoneNumber" name="phoneNumber" ngModel={{this.userData[0].phoneNumber}}
                        placeholder="">
                </div>
                <div class="form-group">

                    <input type="hidden" class="form-control" id="phoneNumber" readonly name="roleId" ngModel={{this.userData[0].roleId}} placeholder="">
                </div>

            </div>

            <div class="col-md-4" style="display:grid;padding: 2rem">
                <div class="profile" style="text-align: center;">
                    
                    <span *ngIf="!apiService.cfs">
                        <img *ngIf="this.userData[0].imageUrl == 'No Image For This User'" src="./../../../assets/images/profile.png" />
                        <img *ngIf="this.userData[0].imageUrl != 'No Image For This User'" [src]="this.userData[0].imageUrl" >
                       
                    </span>
                    <span *ngIf="apiService.cfs">
                        <img *ngIf="this.userData[0].viewUrl == 'No Image For This User'" src="./../../../assets/images/profile.png" />
                        <img *ngIf="this.userData[0].viewUrl != 'No Image For This User'" [src]="this.userData[0].viewUrl" >
                        
                    </span>
                    <label  *ngIf="isEdit" class="fileContainer">
                        <span  >Update</span>
                        
                        <input   type="file" (change)=onFileSelected($event)/>
                    </label>
                </div>
               
                <!-- <img src="./../../../assets/images/profile.png" style="padding-left: 7rem;max-width: 65%;margin-bottom: -4rem;"> -->
                <!-- <img src="./../../../assets/images/profile.png" style="padding-left: 7rem;max-width: 65%;"> -->
               <div style="    text-align: center;
               margin-top: -6rem;
               padding-left: 1rem;">
               
               </div>
                
                <!-- <input *ngIf="isEdit"  type="file" (change)=onFileSelected($event); /> -->
                <!-- <button *ngIf="isEdit" type="button" class="btn btn-primary" style="height: 25px;line-height: 14px;margin-top: -5rem;font-size: 12px;
                        width: 50%;margin-left: 4.5rem;background: #41D6C3;border: 1px solid #41D6C3;">Upload</button> -->
            </div>
            <div class="col-md-12">
                <button type="button" *ngIf="isEdit" (click)="cancelEdit()" class="btn btn-danger" style="float: right;
                    height: 30px;line-height: 17px;border-radius: 0px;width: 110px;font-weight: 600;font-size: 15px;">Cancel</button>
                <button type="submit" *ngIf="isEdit" class="btn btn-primary" style="float: right;background: #3D70B2;margin-right:20px;
                border: 1px solid #3D70B2;height: 30px;line-height: 17px;border-radius: 0px;width: 110px;font-weight: 600;font-size: 15px;">Save</button>
                <button type="button" *ngIf="!isEdit" (click)="editUserDet()" class="btn btn-danger" style="float: right;
                height: 30px;line-height: 17px;border-radius: 0px;width: 110px;font-weight: 600;font-size: 15px;">Edit</button>
            </div>
        </form>

    </div>
</div>

<div class="settings_sec pt-4 pb-4 pr-5" *ngIf="isSuperUser()">
    <div class="">
            <popover-content #rolePermissions 
            title=""
            placement="right"
            [animation]="true" 
             style="box-shadow: 10px 10px 5px #aaaaaa;">
            <span style="color: #646363;"> Use this to grant permissions to users.</span>  
            
            </popover-content>          
        <h4>Role Permissions <span><i style="    font-size: 13px;color: #969696;top: 2px;"  [popoverOnHover]="true" [popover]="rolePermissions" class="material-icons">info</i></span></h4>
        <hr>
    </div>
    <div>
            <!-- <button id="perm_modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#permissionModal">
                    Open modal
                </button> -->
                <!-- The Modal -->
                <div>
                    <div class="">
                        <div class="">
                
                            <!-- Modal Header -->
                            <!-- <div class="modal-header">
                                <h4 class="modal-title">Select Your Roles</h4>
                                <button type="button" id="close_perm_modal" class="close" data-dismiss="modal">&times;</button>
                            </div> -->
                
                            <!-- Modal body -->
                            <div class="card">
                                <div class="row" *ngIf="!useRoles">
                                    <div class="col-sm-12 text-center errorTxt">
                                        <p><b>Please Wait! We Are Fetching Roles ...</b></p>
                                    </div>
                                </div>
                                <div class="row role_checkbox_sett" *ngIf="useRoles && useRoles['allRoles'].length">
                                    <!-- <div class="col-sm-12" *ngFor="let role of useRoles['allRoles']">
                                        <mat-checkbox class="example-margin" [color]="color" [checked]="role.roleName == 'Admin'" [disabled]="role.roleName == 'Admin'"
                                            (click)="selectRole(role.roleId)">
                                            {{role.roleName}}
                                        </mat-checkbox>
                                    </div> -->
                                    <div class="col-sm-6 mt-5 pl-5 pr-5" *ngFor="let role of useRoles['allRoles']">
                                        <div class="d-flex boxShadow" *ngIf="role.roleName == 'Admin'">
                                            <div class="admin_role">
                                                <div>
                                                    <img src="./../../../assets/images/student.png" alt="employee">
                                                </div>
                                                <p>
                                                    <b>Admin</b>
                                                </p>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 text-right mt-2 mr-2">
                                                    <mat-checkbox class="example-margin" [color]="color" [checked]="role.roleName == 'Admin'" [disabled]="role.roleName == 'Admin'" (click)="selectRole(role.roleId)">
                                                        <!-- {{role.roleName}} -->
                                                    </mat-checkbox>
                                                </p>
                                                <ul>
                                                    <li>User Creation</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex boxShadow" *ngIf="role.roleName == 'Test Manager'">
                                            <div class="test_role">
                                                <div>
                                                    <img src="./../../../assets/images/student.png" alt="employee">
                                                </div>
                                                <p>
                                                    <b>Test Manager</b>
                                                </p>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 text-right mt-2 mr-2">
                                                    <mat-checkbox class="example-margin" [color]="color" [checked]="role.roleName == 'Admin'" [disabled]="role.roleName == 'Admin'" 
                                                    [(ngModel)]="rolesPermArr[0]" (click)="updateRoles('3',rolesPermArr[0])" [checked]="disableTestManager()">
                                                        <!-- {{role.roleName}} -->
                                                    </mat-checkbox>
                                                </p>
                
                                                <ul>
                                                    <li>Test & Test Instance Creation</li>
                                                    <li>Test Administraion</li>
                                                    <li>Section & Category Management </li>
                                                    <li>Reports </li>
                                                    <li>Sub Category Management </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex boxShadow" *ngIf="role.roleName == 'Evaluator'">
                                            <div class="eval_role">
                                                <div>
                                                    <img src="./../../../assets/images/student.png" alt="employee">
                                                </div>
                                                <p>
                                                    <b>Evaluator</b>
                                                </p>
                                            </div>
                                            <div class="flex-fill">
                                                <p class="mb-0 text-right mt-2 mr-2">
                                                    <mat-checkbox class="example-margin" [color]="color" [checked]="role.roleName == 'Admin'" [disabled]="role.roleName == 'Admin'"
                                                    [(ngModel)]="rolesPermArr[1]" [color]="color" (click)="updateRoles('4',rolesPermArr[1])" [checked]="disableEvaluator()">
                                                        <!-- {{role.roleName}} -->
                                                    </mat-checkbox>
                                                </p>
                
                                                <ul>
                                                    <li>Evaluation</li>
                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-12">
                                        <mat-checkbox class="example-margin">
                                            Test Manager
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-checkbox class="example-margin">
                                            Evaluator
                                        </mat-checkbox>
                                    </div> -->
                                </div>
                                <div class="row p-4 text-center" *ngIf="useRoles && useRoles['allRoles'].length">
                                    <!-- <button class="btn btn-primary updateSupRole m-auto" (click)="updateRoles()">Update</button> -->
                                </div>
                            </div>
                
                
                        </div>
                    </div>
                </div>
    </div>
</div>