<div class="terms-cond pt-4 pb-4">
    <h2 class="pb-4">Terms & Conditions</h2>
    <div>
        <ol class="pl-4">
            <li>All the Questions Are Multiple Choice Questions.</li>
            <li>Negative Marking is there for Wrong Answering.</li>
            <li>Please Check the Timer to see time left to complete .</li>
            <li>If you specify Wrong or Duplicate Information for Registration you will Not be Allowed. </li>
            <li>Please Don't Press Back Button. If you try to go back your Exam will be Cancelled. </li>
            <li>Please click on proceed to write the Test</li> 
            <li>After Completion of Test Please Click on Submit.</li>
        </ol>
    </div>
    <div class="text-right">
        <button class="btn btn-primary" (click)="acceptTerms()">Accept</button>
    </div>
</div>