
<div class="container">
    <div class="card" style="margin:2rem;padding: 5rem">
        <!-- <h5 style="text-align: center;font-weight: 700;padding-top: 2rem">Empty !</h5>
        <p style="text-align:center">Add Sections & Categories</p>         
        <img class="card-img" src="./../../../assets/images/Women working on laptop.png" alt="Category"> -->
        <div class="row bg-faded">
            <div class="col-8 mx-auto text-center">
                    <p>Your Test Instance with title "{{testSetup}}" is created successfully.</p>
                    <p style="color:black">Click <a routerLink="../../../test-config/{{routeId}}/create" >here </a> to administer test</p>
                <img src="./../../../assets/images/Women working on laptop.png"> <!-- center this image within the column -->
               
            </div>
        </div>
    
    </div>
    </div>